#npm-build
node_modules
dist
grunt-maven.json
npm-debug.log
build
dist
bower_components
coverage

#idea-generated
.idea
*.iml

#eclipse-generated
bin/
.settings/
.classpath
.project
.springBeans
.toDelete

#local configuration
db.properties
janus.properties
eslint.json
.vscode/launch.json
yarn.lock
package-lock.json
.npmrc

#swagger
swagger-spec


package-lock.json
.npmrc
